<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Application</title>
</head>
<body>
    <nav><a href="/books/new">Add a new book</a>
        <a href="/books">browse all book</a>
        <a href="/">home page</a></nav>
    <h1>Welcome to My Books Application!</h1>
    <h2>this is the page to see particular details about a certain book</h2>
    <h3>pick a filter</h3>
    <!-- <h4>year, pages, read or not, rating</h4> this must be hidden--> 
</body>
</html>